# CRA 설정
GENERATE_SOURCEMAP=소스맵 생성 여부 (true / false) - 배포 시 false 추천
NODE_PATH=절대 경로 위치 - /src로 고정
HTTPS=인증서 사용 여부 (true / false)
PORT=개발 시 사용할 포트 - 기본 3000

# 통신 버전
REACT_APP_MODE=통신 버전(mqtt / ocx / packet / server)

# 지박스 버전
REACT_APP_ZIBOX_VERSION=지박스 버전 (zibox / zibox2)

# UI 버전
REACT_APP_COMPANY=UI 버전(dblife / lina / zms) - 기본 zms

# 주소
REACT_APP_API_SERVER=ZMS API 서버 주소 (필수)
REACT_APP_SOCKET_SERVER=ZMS Socket 서버 주소 (필수)
REACT_APP_RELAY_SERVER=법인폰과 웹 연결 강제 끊기를 위한 API 서버 주소 (선택)